.nav-games{
    border: 2px solid #fffdff;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px 15px 15px;
}
.nav-games>.one-game{
    width: 31%;
    padding-top: 15px;
}
.nav-games>.one-game>a{
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 25px;
    font-family: Tahoma;
    color: #000000;
    text-decoration: none;
    background-color: #f8f3f3;
    border-radius: 5px;
}
.nav-games>.one-game>a:hover{
    font-weight: 600;
    background-color: #e4dfdf;
}
.nav-games>.one-game>a:hover img{
    opacity: 0.8;
}
.nav-games>.one-game>a>img{
    width: 100%;
    border-radius: 5px;
}
.nav-games>.one-game>a>span{
    padding-top: 3px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .nav-games>.one-game{
        width: 100%;
        padding-top: 15px;
    }
}


